header[b-0z8r4o1nwf] {
    background-color: #1a1a1a;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav-container[b-0z8r4o1nwf] {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo[b-0z8r4o1nwf] {
    float: left;
    height: 50px;
    border-radius: 5px;
    width: 140px;
    margin: 10px 0 10px 0;
}

nav[b-0z8r4o1nwf] {
    float: right;
    margin: 10px 0 10px 0;
}

span[b-0z8r4o1nwf] {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

button[b-0z8r4o1nwf] {
    background-color: rgb(43 43 43);
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: aqua;
}

button:hover[b-0z8r4o1nwf] {
    background-color: rgb(64 64 64);
}
