
<header>
    <div class="nav-container">
        <img class="nav-logo" src="/Images/YourLogo.png" alt="Logo">

        <nav>
            <ul class="row">
                <li class="mr-4"><button class="oi oi-home" onclick="location.href='#Home'"><span class="ml-3">Home</span></button></li>
                <li class="mr-4"><button class="oi oi-info" onclick="location.href='#About'"><span class="ml-3">About</span></button></li>
                <li class="mr-4"><button class="oi oi-grid-two-up" onclick="location.href='#Gallery'"><span class="ml-3">Gallery</span></button></li>
                <li class="mr-4"><button class="oi oi-menu" onclick="location.href='#Menu'"><span class="ml-3">Menu</span></button></li>
                <li class="mr-4"><button class="oi oi-people" onclick="location.href='#Testomonial'"><span class="ml-3">Testomonial</span></button></li>
                <li class="mr-4"><button class="oi oi-person" onclick="location.href='#Contact'"><span class="ml-3">Contact</span></button></li>
            </ul>
        </nav>
    </div>
</header>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
