@page "/"


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landing Page Template</title>

        <!--    make website responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--    Google fonts imports-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&display=swap&family=Reggae+One&family=Roboto:wght@300&display=swap" rel="stylesheet">

        @*mudblazor*@
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    </head>


    <body>

        @*The picture with company logo*@
        <div class="section" id="Home">
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>
            <h1>Company </h1>

        </div>

        <div class="section" id="About">
            <h1>About</h1>
        </div>

        <div>
            <h2>@inputVal</h2>
        </div>


    </body>

</html>

@code {
    private string myStr = "yeet";

    private string inputVal;

    public void myFunc()
    {

    }
}





