@page "/"


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landing Page Template</title>
        <link rel="stylesheet" href="CSS%20template.css">

        <!--    make website responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--    Google fonts imports-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&display=swap&family=Reggae+One&family=Roboto:wght@300&display=swap" rel="stylesheet">

    </head>

   
    <body>
        <!--Navbar-->
        <header>
            <div class="nav-container">
                <img src="Images/YourLogo.PNG" alt="logo" class="nav-logo">

                <nav>
                    <ul>

                        <li> <a href="#Home">Home</a></li>
                        <li> <a href="#About">About</a></li>
                        <li> <a href="#Gallery">Gallery</a></li>
                        <li> <a href="#Menu">Menu</a></li>
                        <li> <a href="#Testimonials">Testimonials</a></li>
                        <li> <a href="#Contact"> Contact</a></li>

                    </ul>
                </nav>

            </div>

        </header>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

    </body>

</html>



<h1>Hello, world!</h1>


